.about {
  display: flex;
  background-color: var(--background-color-accent);
}

.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
  margin-right: 0;
}

.about-img {
  background-image: url(../img/about-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: auto;
  min-height: 300px;
}

.about-description {
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-description>p {
  padding-bottom: 10px;
}

.about-title {
  font-size: 30px;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .about {
    flex-direction: column-reverse;
  }

  .about-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-img {
    width: 100%;
  }

  .about-description {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}